@model BookStore.ViewModels.BookViewModel

@{
    ViewBag.Title = "Create Book";
}

<a asp-action="Index"> Back to list </a>

<form asp-controller="Books" asp-action="Create" class="form-horizontal" method="post" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ISBN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublishYear" class="form-control" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
                <label asp-for="AuthorsList" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.SelectList, new { @class = "form-control MakeWide" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a asp-action="Index"> Cancel </a>
            </div>
        </div>
    </div>
</form>
