@model BookStore.Models.Author

@{
    ViewBag.Title = "Delete confirmation ";
}

<h3> Are you sure that you want to delete this Author? </h3>

<form asp-action="Delete" method="post">
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
        <a asp-action="Index"> Back to List </a>
    </div>
</form>