@model BookStore.Models.Author

@{
    ViewBag.Title = "Update Author";
}

<form asp-controller="Authors" asp-action="Edit" class="form-horizontal" role="form" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBox("FirstName", null, new { @class = "form-control" })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBox("LastName", null, new { @class = "form-control" })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(modelItem => Model.DateOfBirth, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                @Html.HiddenFor(modelItem => Model.AuthorId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
                <a asp-action="Index"> Cancel </a>
            </div>
        </div>
    </div>
</form>